<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
      <div class="bar bar-header bar-purple">

      </div>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" width="145">
        <div class="bar bar-header bar-purple">
            <h1 class="logo">
                <img src="img/logo.png"/>
            </h1>
        </div>
        <div class="list has-header listHeight menu-top" ng-controller="ProductsCtrl as pd_vm">
            <a class="item mg-tp-10" ng-click="pd_vm.cartModal()">
                <img src="img/tab_dashboard_over.png"/>
            </a>
            <a class="item mg-tp-10" href="#/app/home">
                <img src="img/tab_dashboard.png"/>
            </a>
            <a class="item mg-tp-10" href="#/app/login">
                <img src="img/tab_dashboard.png"/>
            </a>
            <a class="item mg-tp-10 listBottom" href="#/app/filas">
                <img src="img/tab_dashboard.png"/>
            </a>

        </div>
  </ion-side-menu>
</ion-side-menus>

<!--<ion-side-menus>
  <ion-side-menu-content>
    <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()">
        </button>
      </div>
      <h1 class="title">Mapa</h1>
    </ion-header-bar>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <div class="title">Categorias</div>
    </header>
    <ion-list class="Padding">
        <div class="list has-header">
            <a class="item mg-tp-10" menu-close menu-toggle="left" href="#/app/fluxo">
                Fluxo
            </a>
            <a class="item mg-tp-10" href="#/app/home">
                <img src="img/tab_dashboard_over.png"/>
            </a>
            <a class="item mg-tp-10" href="#/app/search">
                <img src="img/tab_dashboard.png"/>
            </a>
        </div>
    </ion-list>
  </ion-side-menu>
</ion-side-menus>-->
