<ion-view view-title="Telefone Fixo">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.doc._id}}">
        {{playlist.doc.estiloMusical}}
      </ion-item>
    </ion-list> -->
    <ion-list> <!-- ng-show="exibirConsultaTelefone" -->
      <label class="item item-input item-floating-label">
        <span class="input-label">ddd</span>
        <input type="text" placeholder="ddd" ng-model="tel.ddd" data-mask="(99)">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">telefone</span>
        <input type="text" placeholder="telefone" ng-model="tel.telefone" data-mask="9999-9999">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">cpf</span>
        <input type="text" placeholder="cpf" ng-model="tel.cpf" data-mask="999.999.999-99">
      </label>

      <button class="button button-stable button-block  icon-right ion-music-note" ng-click="consultarTelefone(tel)">Consultar</button>

      <span>
            <ion-card>
              <div class="item item-text-wrap">
                {{msgConsultaTelefone}}
              </div>
          </ion-card>

      </span>
    </<ion-list>

    <ion-list> <!--  ng-show="exibirDadosCliente" -->
        <h2>Dados do Cliente</h2>
        Nome: {{cliente.nome}}
        email: {{cliente.email}}
    </ion-list>
  </ion-content>
</ion-view>
