<ion-view ng-controller="LoginCtrl as login">
  <ion-content padding="true" class="main-content" scroll="false">

    <div class="img-search-filter col col-50 col-center " style="align: center; " >
        <img src="img/person.png"/>
    </div>
    <div class="lbl-search-filter col col-50 col-center " >
        <span>Digite o CPF, Nome ou Terminal do cliente para localizar</span>
    </div>
    <div class="row cmp-search cmp-search-filter">

        <i class="icon ion-navicon lt-gold ft-2 icon-search-section"></i>
        <div class="col col-50">
            <label class="item item-input rad-25 border-3px">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchValue" ng-change="check(searchValue)"/>
            </label>
        </div>
    </div>
    <div class="list listSearch">
      <li class="item" ng-repeat="data in data.nomes" ng-click="sendPost(data.nome)">{{data.nome}}</li>
    </div>
  </ion-content>
</ion-view>
