<ion-view ng-controller="HomeCtrl as home" class="int-view">
    <ion-content padding="true" class="main-content" scroll="false">
        <div class="row  no-margin no-padding">
            <div class="col col-10 btn-menu-cart mg-tp-10">

            </div>
            <div class="col col-90 no-padding mg-tp-5">
                <div class="row cmp-client">
                    <div class="col col-33 list border-right">
                        <p class="item item-icon-right no-border">
                            <span class="ft-1">Leonardo Luiz Sarmento</span>
                            <a class="icon ft-1 dk-blue ion-ios-information-outline" href="#"></a>
                        </p>
                        <p class="item item-icon-right no-border">
                            <span class="ft-0-8 lt-green">Ativo - </span>
                            <span class="ft-0-8 lt-gold">Segmento Ouro</span>
                            <a class="icon" href="#">
                                <img src="img/edit_icon.png"/>
                            </a>
                        </p>
                    </div>
                    <div class="col col-15 border-right">
                        <span class="grey">No. Oi:</span>
                        <p class="ft-1 mg-tp-10">21988718111</p>
                    </div>
                    <div class="col col-15 border-right">
                        <span class="grey">Oi Chip:</span>
                        <p class="ft-1 mg-tp-10">895501831</p>
                    </div>
                    <div class="col col-33">
                        <span class="grey">Planos</span>
                        <p class="ft-1 lt-blue mg-tp-10">
                            Plano Oi Colaborador, Oi Dados Colaborador
                        </p>
                    </div>
                </div>
                <div class="row cmp-client-footer border-top">
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 gold">Inadimplente</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 dk-purple">VIP</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 dk-purple">Migrado</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 dk-blue">Empresa Pioneiro</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 dk-blue">Anatel</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 gold">Vítima de fraude</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 gold">Resgate Indevido</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 gold">Bloq. Cadastro</span>
                        </p>
                    </div>
                    <div class="col col-10">
                        <p class="item item-checkbox no-border">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="ft-0-6 gold">Fraude</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-margin no-padding">
            <div class="col col-33 cmp-cart no-padding bg-white">
                <div class="row bg-grey no-margin cmp-cart-title">
                    <p class="ft-1 dk-grey"><span class='bold'>Dois</span> itens no carrinho de compras</p>
                </div>
                <div class="list">
                    <p class="item item-icon-right no-border item-active" href="#">
                        Banda Larga Oi 10 Mega Velox
                        <a class="icon ion-ios-arrow-forward ft-1-5 lt-orange"></a>
                    </p>
                    <p class="item item-icon-right no-border" href="#">
                        Samsung Galaxy Gran Prime Duos
                        <a class="icon ion-ios-arrow-forward ft-1-5 lt-orange"></a>
                    </p>
                </div>
            </div>
            <div class="holder-details col-67  no-padding bg-white">
            <div class="col cmp-cart-details border ">

                    <div class="row border-bottom">
                        <p class="ft-1-3">Dados do produto</p>
                    </div>
                    <div class="row no-margin">
                        <div class="list">

                            <label class="item item-input item-select no-padding no-margin no-border">
                                <div class="input-label ft-0-8 dk-blue border-right">
                                    Tipo de Campanha
                                </div>
                                <i class="icon ion-ios-arrow-down"></i>
                                <select>
                                    <option>Blue</option>
                                    <option selected>Green</option>
                                    <option>Red</option>
                                </select>
                            </label>

                            <label class="item item-input item-select no-padding no-margin  no-border">
                                <div class="input-label ft-0-8 dk-blue border-right">
                                    Tipo de Modem
                                </div>
                                <i class="icon ion-ios-arrow-down"></i>
                                <select>
                                    <option>Blue</option>
                                    <option selected>Green</option>
                                    <option>Red</option>
                                </select>
                            </label>

                            <label class="item item-input item-select no-padding no-margin no-border">
                                <div class="input-label ft-0-8 dk-blue border-right">
                                    Sistema de instalação
                                </div>
                                <i class="icon ion-ios-arrow-down"></i>
                                <select>
                                    <option>Blue</option>
                                    <option selected>Green</option>
                                    <option>Red</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
