<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">My Modal title</h1>
  </ion-header-bar>
  <ion-content>
    <div class="col col-33 cmp-cart no-padding bg-white">
        <div class="row bg-grey no-margin cmp-cart-title">
            <p class="ft-1 dk-grey"><span class='bold'>Dois</span> itens no carrinho de compras</p>
        </div>
        <div class="list">
            <p class="item item-icon-right no-border item-active" href="#">
                Banda Larga Oi 10 Mega Velox
                <a class="icon ion-ios-arrow-forward ft-1-5 lt-orange"></a>
            </p>
            <p class="item item-icon-right no-border" href="#">
                Samsung Galaxy Gran Prime Duos
                <a class="icon ion-ios-arrow-forward ft-1-5 lt-orange"></a>
            </p>
        </div>
    </div>
  </ion-content>
</ion-modal-view>
