<ion-modal-view class="modal-cart">
  <ion-content>
    <div class="col col-100 cmp-cart no-padding bg-white">
        <div class="row bg-grey no-margin cmp-cart-title">
            <p class="ft-1 dk-grey"><span class='bold'>Dois</span> itens no carrinho de compras</p>
        </div>
        <div class="list">
            <p class="item item-icon-right no-border item-active" href="#">
                Banda Larga Oi 10 Mega Velox
                <a class="icon ion-ios-arrow-forward ft-1-5 lt-orange"></a>
            </p>
            <p class="item item-icon-right no-border" href="#">
                Samsung Galaxy Gran Prime Duos
                <a class="icon ion-ios-arrow-forward ft-1-5 lt-orange"></a>
            </p>
        </div>
        <div class="row bg-grey no-margin cmp-cart-title">
            <a class="item mg-tp-10 modal-button" href="#/app/fluxo">
                <img src="img/finalizar.png"/>
            </a>
        </div>
    </div>
  </ion-content>
</ion-modal-view>
